@font-face {
    font-family: 'Motiva Sans Light';
    src: url('fonts/Motiva-Sans-Light.ttf');
}

@font-face {
    font-family: 'Motiva Sans Bold';
    src: url('fonts/Motiva-Sans-Bold.ttf');
}

@font-face {
    font-family: 'Motiva Sans Light Italic';
    src: url('fonts/Motiva-Sans-Light-Italic.ttf');
}

*{
    font-family: 'Motiva Sans Light';
    background-color: #00101c;
    color: white;
}

#steamid64 {
    width: 200px;
}

h1 {
    font-family: 'Motiva Sans Bold';
    font-size: 20;
    line-height: 0.2;
}

h3 {
    font-family: 'Motiva Sans Light Italic';
    font-size: 8;
    line-height: 0.2;
}