<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>steamding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/normalize.css">
    <link rel="stylesheet" href="public/css/skeleton.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <div id="header" class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="nine columns">
                <a href="/"><img src="public/img/w_horizontal.png" alt="Smiley face" width=225></a>
            </div>
            <div class="three columns" style="text-align: right">
                <form action="https://github.com/aquelemiguel/steamding/releases" style="display:block; margin:auto;">
                    <button id="login-btn" type="submit">Download now</button>
                </form>
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row" style="margin-top: 5%;">
            <h3>F.A.Q.</h3>
        </div>
        <b>How does steamding work?</b>
        <p>You provide it your steamid64, an unique profile identifier. It then web scrapes your Steam Community profile page, fetching the game you're currently playing and its achievement progress. Whenever that number changes, you get a notification. As simple as that.</p>

        <b>Why does my profile need to be public?</b>
        <p>When you scrape a website, the bot can only see publicly available information, just like a human does. Therefore, if you hide which game you're playing on your Steam Community profile, the bot won't be able to obtain enough information for it to work.</p>
        
        <b>Can this get me VAC banned?</b>
        <p>Ah, the age old question. The app doesn't hook into any process so it's virtually impossible. Yet as I wouldn't trust random code on the internet either, the full source code is available in its <a href='https://github.com/aquelemiguel/steamding'>GitHub repository</a>. Your karambit is safe.</p>

        <b>It's busted!</b>
        <p>It's inevitable, really. This is a side project of a overworked college student, so it's more than likely I've overlooked a few things. Hit me up at my email anytime and I'll fix it ASAP.</p>
    </div>

    <div class="footer">
        <div id="footer" class="container">
            <div class="row">
                <div class="one-third column">
                    <a href="views/faq">F.A.Q.</a>
                </div>
                <div class="one-third column">
                    <a href="https://www.github.com/aquelemiguel">GitHub</a>
                </div>
                <div class="one-third column">
                    <a href="https://www.paypal.me/aquelemiguel">Donate</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>