<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>steamding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-md justify-content-md-center justify-content-start">
        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
            <ul class="navbar-nav mx-auto text-md-center text-left">
                <li class="nav-item my-auto">
                    <h1 class="nav-link navbar-brand mx-0 d-none d-md-inline">STEAMDING</h1>
                </li>
            </ul>
            <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                <li class="nav-item">
                    <form action="/auth/openid" method="POST">
                        <input id="login-btn" type="submit" value="Login with Steam">
                    </form>
                </li>
            </ul>
        </div>
    </nav>


    <div id="profile-area">
        <div id="persona-name">Online</div>
        <img id="profile-avatar" src="#">
    </div>

    <form action="/auth/logout" method="POST">
        <input id="logout-btn" type="submit" value="Logout">
    </form>

    <div id="status-message">Offline</div>

    <button id="track-achievements">Start tracking!</button>

    <input type="radio" name="sfx" value="xbox-360" checked="checked">Xbox 360<br>
    <input type="radio" name="sfx" value="playstation">PlayStation<br>
    <input type="radio" name="sfx" value="steam-old">Steam Notification (Old)<br>
    <input type="radio" name="sfx" value="tf2">Team Fortress 2<br>
    <input type="radio" name="sfx" value="wii-message">Wii Message<br>
    <input type="radio" name="sfx" value="xbox-rare">Xbox Rare<br>


    <button id="preview" type="button">Preview</button>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/bundle.js"></script>
</body>

</html>