<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>steamding</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>STEAMDING</h1>
    <h3>beta 0.1b</h3>

    <div id="profile-area">
        <div id="persona-name">Online</div>
        <img id="profile-avatar" src="#">
    </div>

    <form action="/auth/openid" method="POST">
        <input id="login-btn" type="submit" value="Login with Steam">
    </form>

    <form action="/auth/logout" method="POST">
        <input id="logout-btn" type="submit" value="Logout">
    </form>

    <div id="status-message">Offline</div>

    <button id="track-achievements">Start tracking!</button>

    <input type="radio" name="sfx" value="xbox-360" checked="checked">Xbox 360<br>
    <input type="radio" name="sfx" value="playstation">PlayStation<br>

    <button id="preview" type="button">Preview</button>
    <script src="js/bundle.js"></script>
</body>

</html>