<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>steamding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="header" class="container">
        <div class="row" style="margin-top: 10%;">
            <img src="img/w_vertical.png" alt="Smiley face" width=225 style="display:block; margin:auto;">
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin-top: 9%">
            <div class="one-third column" style="text-align: center">
                <h5>Trigger a sound effect whenever you unlock a Steam achievement</h5>
                <p><i>You handle the steaming, we handle the dinging.</i> Who the fuck wrote this slogan?</p>
            </div>
            <div class="one-third column" style="text-align: center">
                <h5>An open-source lightweight Python app that runs on the tray</h5>
                <p>It's basically just a 200 lines Python script. It's open source so you can PR the scams out.</p>
            </div>
            <div class="one-third column" style="text-align: center">
                <h5>Add your own custom sound effects just by dragging into a folder</h5>
                <p>You'll likely just add an mp3 of a fart and be done for the day.</p>
            </div>
        </div>

        <div class="row" style="margin-top: 7%; margin-bottom: 5%;">
            <form action="https://github.com/aquelemiguel/steamding/releases" style="display:block; margin:auto;">
                <button id="login-btn" type="submit">Download now</button>
            </form>
        </div>
    </div>

    <div class="footer">
        <div id="footer" class="container">
            <div class="row">
                <div class="one-third column">
                    <a href="/faq">F.A.Q.</a>
                </div>
                
                <div class="one-third column">
                    <a href="https://www.github.com/aquelemiguel/steamding">GitHub</a>
                </div>

                <div class="one-third column">
                    <a href="https://www.paypal.me/aquelemiguel">Donate</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>