<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>steamding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="header" class="container">
        <div class="row" style="margin-top: 7%;">
            <div class="nine columns"><h3><a href="/">steamding</a></h3></div>
            <div class="two columns">
                <form action="/auth/openid" method="POST">
                    <button id="login-btn" type="submit">Login with Steam</button>
                </form>
            </div>
        </div>
    </div>

    <form action="/auth/logout" method="POST">
        <button id="logout-btn" type="submit">Logout</button>
    </form>

    
    <div class="container">
        <div class="row" style="margin-top: 15%">
            <h3>Select a sound effect</h3>
        </div>
        <div class="row">
            <div class="two-thirds column">
                <select id="sfx-select">
                    <option value="xbox-360">Xbox 360</option>
                    <option value="playstation">PlayStation</option>
                    <option value="steam-old">Steam Notification (Old)</option>
                    <option value="tf2">Team Fortress 2</option>
                    <option value="wii-message">Wii Message</option>
                    <option value="xbox-rare">Xbox Rare</option>
                </select>  
                <button id="preview" type="button" style="position: absolute; border: 0">Preview</button>
            </div>
        </div>
        <div class="row" style="padding-top: 5em; padding-bottom: 5em;">
            <button id="track-achievements" style="height: 80px; width: 200px; display: block; margin: auto;">Start tracking!</button>
        </div>
    </div>
        
    <div class="footer">
        <div id="footer" class="container">
            <div class="row">
                <div class="one-third column">
                    <a href="/faq">F.A.Q.</a>
                </div>
                <div class="one-third column">
                    <a href="https://www.github.com/aquelemiguel">GitHub</a>
                </div>
                <div class="one-third column">
                    <a href="https://www.paypal.me/aquelemiguel">Donate</a>
                </div>
            </div>
        </div>
    </div>
        
    <script src="js/bundle.js"></script>
</body>

</html>