@font-face {
    font-family: 'Motiva Sans Light';
    src: url('../fonts/motiva-sans-light.ttf');
}

@font-face {
    font-family: 'Motiva Sans Bold';
    src: url('../fonts/motiva-sans-bold.ttf');
}

@font-face {
    font-family: 'Motiva Sans Light Italic';
    src: url('../fonts/motiva-sans-light-italic.ttf');
}

*{
    font-family: 'Motiva Sans Light';
    background-color: black;
    color: white;
}

#steamid64 {
    width: 200px;
}

h1 {
    font-size: 100;
    line-height: 0.2;
}

h3 {
    font-size: 8;
    line-height: 0.2;
}