@font-face {
    font-family: 'Motiva Sans Light';
    src: url('../fonts/motiva-sans-light.ttf');
}

@font-face {
    font-family: 'Motiva Sans Bold';
    src: url('../fonts/motiva-sans-bold.ttf');
}

@font-face {
    font-family: 'Motiva Sans Light Italic';
    src: url('../fonts/motiva-sans-light-italic.ttf');
}

body {
    font-family: 'Motiva Sans Light';
}

#steamid64 {
    width: 200px;
}