beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.8
infi.systray==0.1.11
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Pillow==6.2.0
playsound==1.2.2
pypiwin32==223
pywin32==224
requests==2.22.0
six==1.12.0
soupsieve==1.9.3
urllib3==1.25.8
Werkzeug==0.15.5
win10toast==0.9
